---
layout: default
title: "~/archive"
---

<div class="hero">
    <h2>Archive</h2>
    <p>challenge write-ups</p>
</div>

{% assign grouped_posts = site.categories.Archive | group_by_exp: "post", "post.date | date: '%Y'" %}

{% for year in grouped_posts %}
    <h3 style="margin-top: 40px; border-bottom: 1px dashed #440000; padding-bottom: 5px;">// {{ year.name }}</h3>
    <div class="grid" style="margin-top: 20px;">
        {% for post in year.items %}
        <a href="{{ post.url | relative_url }}" class="card-archive">
            <div class="card-header">
                <span class="badge">Archived</span>
                <span class="date">{{ post.date | date: "%b %d" }}</span>
                <!-- h3 is inside the header for a tight, single-line look -->
                <h3 style="display:inline; margin-left: 15px;">{{ post.title }}</h3>
            </div>
        </a>
        {% endfor %}
    </div>
{% endfor %}
