---
layout: default
title: "~/archive"
---

<div class="hero">
    <h2>Archive</h2>
    <p>challenge write-ups</p>
</div>

{% assign grouped_posts = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}

{% for year in grouped_posts %}
    <h3 style="margin-top: 40px; border-bottom: 1px solid #444444; padding-bottom: 5px;">{{ year.name }}</h3>
    <div style="margin-top: 20px; display: flex; flex-direction: column; gap: 10px;">
        {% for post in year.items %}
        <a href="{{ post.url | relative_url }}" class="card-archive">
            <div class="card-header" style="display: flex; align-items: center; justify-content: flex-start; gap: 15px; margin-bottom: 0; border-bottom: none; padding-bottom: 0; width: 100%; flex-wrap: wrap;">
                {% if post.category %}
                <span class="badge">{{ post.category | upcase }}</span>
                {% endif %}
                <span class="date">{{ post.date | date: "%b %d" }}</span>
                <h3 style="display:inline; margin: 0; font-size: 0.95rem; font-weight: normal;">{{ post.title }}</h3>
                
                {% if post.tags %}
                <div class="tags" style="margin-top: 0; margin-left: auto; display: flex; gap: 8px;">
                    {% for tag in post.tags %}
                    <span class="tag">#{{ tag }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </a>
        {% endfor %}
    </div>
{% endfor %}
